/* BODY -------------------------------------------*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;	vertical-align: baseline;	background: transparent;
	list-style:none;
}

#body{
    font:12px "Courier New", Courier,monospace;
    color:#999;
    width: 6000px;
    margin-left:336px;

}

#body a{
    color:#333;
}

#header p{
    display:block;
    padding: 40px 0px 0px 0px; 
    color: #000; 
    font-size: 12px;
    text-decoration: none; 
}
#tit {
    display:block;
    color: #000; 
    font-size: 12px;
    text-decoration: none; 
}

/* HEADER -------------------------------------------*/


#header ul{
    padding-bottom: 15px;
    clear:both;
    height:32px;
    float:left;
    list-style-type: none;
}

#listDiv.ul {
    text-align: left;
}

#header ul li{
    float:left;
    margin-top:9px;
}

#header ul li a{
    line-height:12px;
    margin-right:35px;
    margin-left:19px;

}

/*below was #999*/
#header ul li a:hover{
    text-decoration:none;
}

#header .active{
        text-decoration:none;

}


/* CONTENT -------------------------e8ff3f------------------*/

#contentShow {
    display: block;
    width:250px;
    padding-bottom: 1px;
    clear:both;
    color:#111;
    font-size:12.2px;
    
}
#work {
    width:1000px;
}
#work img{
    clear:both;
    max-height:800px;
    max-width:1000px;

    float:left;
    padding-bottom: 8px;
    margin-left: 11px;

}

