/* BODY -------------------------------------------*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;	vertical-align: baseline;	background: transparent;
	list-style:none;
}

body{
    font:29.3px "arial";
    padding-top: 57px;
}


#header a{
    color:#888;
}

/* HEADER -------------------------------------------*/

#header {
    margin-left:2vw;
}

#header p{
    display:block;
    color: #000; 
}

#header ul{
    padding-bottom: 123px;
    clear:both;
    height:32px;
    float:left;
    list-style-type: none;

}

#header ul li{
    float:left;
}

#header ul li a{
    line-height:12px;
    margin-right:15px;
        text-decoration:none;

}

#header ul li a:hover{
    color: #000; 

}

#header .active{
    text-decoration:none;
}

#name {
    color: #000; 
    text-decoration:none;

}

#name:hover {
    color: #000; 
}


/* CONTENT -------------------------e8ff3f------------------*/

#hide{
    text-decoration: none;
}

#contact {
    display:inline-block;    
    padding-right: 50px; 
}

#contact2 {
    display:inline-block;
}

#links a{
    position: relative;
    color:#333;
    padding: 40px 0px 0px 0px; 
    color: #000; 
    text-decoration: none; 
}

#paragraph a{
    width: 300px;
    text-decoration: none;
}

#showcase {
    width:450px;
    padding-bottom: 1px;
    padding-top: 43px;
    clear:both;
    color:#111;
    margin-left:2.2vw;
}

#showcase a {
    text-decoration: none;
}
#showcaseLong {
    padding-bottom: 1px;
    padding-bottom: 1px;
    padding-top: 43px;
    clear:both;
    color:#111;
    margin-left:2vw;
}

#showcase img{
    float:left;
    max-width:65.5vw;
    max-height:90vw;
    padding-bottom: 1px;
    image-orientation: from-image;
}