body {
	margin: 0px;
	padding: 0px;
	max-width: 100vw;
	max-height: 100vw;
}
mouseHide {
	margin: 50px;
	padding: 0px;
	max-width: 100vw;
	max-height: 100vw;
}

#screenClick > button {
	color: transparent;
	background-color: transparent;
	border-color: transparent;
	cursor: default;
	outline: 0;
	width: 100vw;
	height: 100vh;
}

#screenClick {
	position: fixed;
	top: 0vh;
	left: 0vw;
	width: 100%;
	height: 100%;
}

#splash-screen {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: auto;
	opacity: 1;
	text-align: center;
	width: 100vw;
	color: #999;
	font-size: 1em;

}

#about-screen {
	position: fixed;
	z-index: 0;
	top: 42vh;
	opacity: 1;
	text-align: left;
	width: 52vw;
	left: 24vw;
	right: 24vw;
	color: #999;
}

button {
	font-size: .87em;
	background: transparent;
	border: none;
	outline: none;
}

button .hover-img {
			position: relative;
		}
		
		img {
			height:236px; 
		}

		button .hover-img span {
			position: absolute;
			left: -9999px;
			top: -9999px;
			z-index: 9999;
		}

		button:hover .hover-img span {
			top: 20px;
			left: 396px;
		}

#loading-screen {
	position: fixed;
	z-index: 1;
	top: 49vh;
	opacity: 0;
	text-align: center;
	width: 100vw;
	color: #999;
}

#loading-screen.fade-in {
	opacity: 1;
}
