/* BODY -------------------------------------------*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;	vertical-align: baseline;	background: transparent;
	list-style:none;
}

body{
    font:12px "Courier New", Courier,monospace;
    color:#999;
    width: 6000px;
    margin-left:395px;
}

#body a{
    color:#333;
}

#header h1{
    display:block;
    color:chartreuse;
    padding: 40px 0px 0px 0px; 
    color: #000;
    text-decoration: none; 
}


#body a{
    color:#333;
}

#header p{
    display:block;
    padding: 40px 0px 0px 0px; 
    color: #000; 
    font-size: 12px;
    text-decoration: none; 
}
#tit {
    display:block;
    color: #000; 
    font-size: 12px;
    text-decoration: none; 
}



/* HEADER -------------------------------------------*/

#header ul{
    padding-bottom: 15px;
    clear:both;
    height:32px;
    float:left;
    list-style-type: none;
}

#listDiv.ul {
    text-align: left;
}

#header ul li{
    float:left;
    margin-top:9px;
}

#header ul li a{
    line-height:12px;
    margin-right:40px;
    margin-left:10px;
}

/*below was #999*/
#header ul li a:hover{
    text-decoration:none;
}

#header .active{
        text-decoration:none;

}


/* CONTENT -------------------------e8ff3f------------------*/

#contentState {
    display: block;
    clear:both;
    float:left;
    width:300px;
    color:#111;
    font-size:13px;
    
}

#contentState a{
    color:#111;   
        text-decoration: none;

}