body {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

button {
	font-size: .87em;
	background: transparent;
	border: none;
	outline: none;
	text-align: right;
}

@media all and (min-width:0px) and (max-width: 824px) {
  /* put your css styles in here */
}

#splash-screen {
	position: fixed;
	z-index: 0;
	color: #999;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  column-gap: 1px;
  grid-template-columns: auto auto auto auto;

}

#about-screen {
	position: fixed;
	z-index: 0;
	top: 42vh;
	opacity: 1;
	text-align: center;
	width: 52vw;
	left: 24vw;
	right: 24vw;
	color: #999;
}

#loading-screen {
	position: fixed;
	z-index: 1;
	top: 49vh;
	opacity: 0;
	text-align: center;
	width: 100vw;
	color: #999;
}

#loading-screen.fade-in {
	opacity: 1;
}

#screenClick > button {
	color: transparent;
	background-color: transparent;
	border-color: transparent;
	cursor: default;
	outline: 0;
	width: 100vw;
	height: 100vh;
}

#screenClick {
	position: fixed;
	top: 0vh;
	left: 0vw;
	width: 100%;
	height: 100%;
}
